RewriteEngine On

# Force www. host
RewriteCond %{HTTP_HOST} !^www.yafc-ftp.com [NC]
RewriteRule ^(.*)$ http://www.yafc-ftp.com/$0 [R=301,L]

# Rewrite-away .php part
RewriteRule ^[a-z]+$ $0.php [NC,L]
